/* General styling */

* {
    box-sizing: border-box;
}
body {
    font-family: 'Nunito', sans-serif;
    background: #F9FAFF;
    margin: 0;
    box-sizing: border-box;
}
h1,
h2,
h3,
h4 {
    margin: 0;
}

.container {
    margin: auto;
    padding: 0 24px;
    width: 100%;
    max-width: 1200px;
}
header {
    padding: 16px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
}
 header .logo {
    width: 12rem;
    line-height: 2rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
   
} 
.header-nav .navigation {
    width: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}
.header-nav .navigation a {
    text-decoration: none;
    font-size: 24px;
    line-height: 32px;
    color: #25282B;
    transition: ease-in 400ms;
}
.header-nav .navigation a:hover {
    color: #FDC435;
}

@media only screen and (min-width: 768px) {
    header {
        flex-direction: row;
        justify-content: space-between;
    }
    header .logo {
        margin-bottom: 0;
    }
    .header-nav .navigation {
        flex-direction: row;
    }
    .header-nav .navigation li:not(:last-child) {
        margin-right: 48px;
    }
}

.projects {
    margin: 120px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading {
    margin: auto;
    width: max-content;
    font-family: 'Playfair Display', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 72px;
    text-align: center;
    color: #25282B;
    margin-bottom: 80px;
}
.logo::after, .active::after, .heading::after {
    display: block;
    content: '';
    width: 80%;
    height: 4px;
    background: #FDC435;
    border-radius: 2px;
    margin: auto;
}

.projects .projects-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    filter: drop-shadow(0px 6px 64px rgba(112, 144, 176, 0.1));
    border-radius: 24px;
    background: #FFFFFF;
}
.projects .projects-card-reverse {
    display: flex;
}
.projects .projects-card:not(:last-child) {
    margin-bottom: 48px;
}
.projects .projects-card-img {
    min-width: 50%;
    height: 250px;
}
.projects-card-img img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 24px 24px 0 0;
}
.projects .projects-card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 24px;
}

.projects .projects-card-reverse .projects-card-img img {
    border-radius: 24px 24px 0 0;
}

.projects .card-title {
    margin-bottom: 24px;
    font-family: 'Playfair Display', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 150%;
    color: #25282B;
}

.projects .card-desc {
    margin-top: 0;
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    color: #828282;
}

.projects .card-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 43px;
    border: 1px solid #25282B;
    border-radius: 24px;
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: #25282B;
    text-decoration: none;
    transition: ease-in 400ms;
}
.projects .card-btn:hover {
    background: #FDC435;
    border-color: #fff;
    color: #fff;
}
@media only screen and (min-width: 768px) {
    .projects .projects-card {
        flex-direction: row ;
    }
    .projects .projects-card-reverse {
        flex-direction: row-reverse;
    }
    .projects .projects-card-img {
        height: 526px;
    }
    .projects .projects-card-img img {
        height: 526px;
        border-radius: 24px 0 0 24px;
    }
    .projects .projects-card-reverse .projects-card-img img {
        border-radius: 0 24px 24px 0;
    }
    .projects .projects-card-content {
        width: 50%;
        padding: 0 80px;
    }
}
/* Blockquote */

blockquote {
    margin: 0;
}
blockquote figcaption {
    display: flex;
    justify-content: flex-end;
}
/** Table **/

table {
    margin: auto;
    width: auto;
    color: #828282;
}
caption {
    font-size:1.2rem;
    margin-bottom:1rem;
    color:#828282
}

table,
td,
th {
	border: 3px  solid rgba(112, 144, 176, 0.1);
	border-collapse: collapse;
    height: 2.5rem;
}

/* Grid */

.foods{
    width: 100%;
    margin: 50px auto;
    background-color: lightgray;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 1rem;
    display: grid;

    border-radius: 1rem 1rem 1rem 1rem;
    overflow: hidden;
}

.foods .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.foods .item {
    position: relative;
}
.foods .item .food-name {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #FDC435;
    color: #FFFFFF;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: ease-in 400ms;
}
.foods .food-name:hover {
    opacity: 1;
    cursor: pointer;
}

footer {
    padding:1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FDC435;    
}


.footer-link a:not(:last-child) {
    margin-right: 16px;
}
@media only screen and (min-width: 768px) {
    .foods{
        width: 100%;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 1rem;
    }
    
}

.card-content {
    padding: 32px 48px;
}

